.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 890px) {
  .header {
    padding-top: 28px;
  }
}

@media screen and (max-width: 879px) {
  .header {
    max-width: 574px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    max-width: 320px;
  }
}