.page {
  background: #000;
}

.profile__title {
  color: #fff;
}

.profile__edit-button {
  background-image: url(../image/Edit__Button.svg);
  border: 1px solid #fff;
  background-color: transparent;
}

.profile__subtitle {
  color: #fff;
}

.profile__add-button {
  background-image: url(../image/Add-Button.svg);
  border: 2px solid #fff;
}

.footer__copyright {
  color: #545454;
}

.element__delete-icon {
  background-image: url(../image/delete_icon.svg);
  background-color: transparent;
}

.element__group {
  background-color: #fff;
}

.element__subtitle {
  color: #000;
}